<div class="category-tabs">
  <div class="tabs-container">
    <div class="tabs-scroll">
      @for (category of categories; track category.name) {
        <button 
          class="category-tab" 
          [class.active]="activeCategory === category.name"
          (click)="navigateToCategory(category)"
        >
          <svg class="category-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path [attr.d]="getCategoryIcon(category.icon)"></path>
          </svg>
          <span class="category-name">{{ category.name }}</span>
        </button>
      }
    </div>
  </div>
</div>
